--------------------------------------------------------
--  文件已创建 - 星期三-四月-27-2016   
--------------------------------------------------------
--------------------------------------------------------
--  DDL for Table CURR_COURSE_CLASS_ID
--------------------------------------------------------

  CREATE TABLE "EA"."CURR_COURSE_CLASS_ID" 
   (	"COURSE_CLASS_ID" NUMBER(13,0), 
	"ORIGINAL_ID" VARCHAR2(31 BYTE)
   ) ;
   
--------------------------------------------------------
--  DDL for Table CURR_COURSE_CLASS_ID
--------------------------------------------------------

  CREATE TABLE "EA"."COURSE_CLASS_ID" 
   (	"COURSE_CLASS_ID" NUMBER(13,0), 
	"ORIGINAL_ID" VARCHAR2(31 BYTE)
   ) ;
   
--------------------------------------------------------
--  DDL for Table DISCIPLINE
--------------------------------------------------------

  CREATE TABLE "EA"."DISCIPLINE" 
   (	"ID" NUMBER(6,0), 
	"CODE" VARCHAR2(2 BYTE), 
	"NAME" VARCHAR2(10 BYTE)
   ) ;
--------------------------------------------------------
--  DDL for Table FIELD
--------------------------------------------------------

  CREATE TABLE "EA"."FIELD" 
   (	"ID" NUMBER(10,0), 
	"FIELD_CLASS_ID" NUMBER(8,0), 
	"CODE" VARCHAR2(6 BYTE), 
	"NAME" VARCHAR2(50 BYTE), 
	"FLAG" VARCHAR2(2 BYTE)
   ) ;
--------------------------------------------------------
--  DDL for Table FIELD_ALLOW_DEGREE
--------------------------------------------------------

  CREATE TABLE "EA"."FIELD_ALLOW_DEGREE" 
   (	"FIELD_ID" NUMBER(10,0), 
	"DISCIPLINE_ID" NUMBER(6,0)
   ) ;
--------------------------------------------------------
--  DDL for Table FIELD_CLASS
--------------------------------------------------------

  CREATE TABLE "EA"."FIELD_CLASS" 
   (	"ID" NUMBER(8,0), 
	"DISCIPLINE_ID" NUMBER(6,0), 
	"CODE" VARCHAR2(4 BYTE), 
	"NAME" VARCHAR2(20 BYTE)
   ) ;
--------------------------------------------------------
--  DDL for Table TERM
--------------------------------------------------------

  CREATE TABLE "EA"."TERM" 
   (	"ID" NUMBER(5,0), 
	"START_DATE" DATE, 
	"START_WEEK" NUMBER(2,0), 
	"MID_RIGHT" NUMBER(2,0), 
	"END_WEEK" NUMBER(2,0), 
	"MAX_WEEK" NUMBER(2,0), 
	"MID_LEFT" NUMBER(2,0)
   ) ;
REM INSERTING into EA.CURR_COURSE_CLASS_ID
SET DEFINE OFF;
REM INSERTING into EA.DISCIPLINE
SET DEFINE OFF;
Insert into EA.DISCIPLINE (ID,CODE,NAME) values (199801,'01','哲学');
Insert into EA.DISCIPLINE (ID,CODE,NAME) values (199802,'02','经济学');
Insert into EA.DISCIPLINE (ID,CODE,NAME) values (199803,'03','法学');
REM INSERTING into EA.FIELD
SET DEFINE OFF;
Insert into EA.FIELD (ID,FIELD_CLASS_ID,CODE,NAME,FLAG) values (2012080714,20120807,'080714','电子信息科学与技术','T');
Insert into EA.FIELD (ID,FIELD_CLASS_ID,CODE,NAME,FLAG) values (2012080715,20120807,'080715','电信工程及管理','T');
Insert into EA.FIELD (ID,FIELD_CLASS_ID,CODE,NAME,FLAG) values (2012080716,20120807,'080716','应用电子技术教育','T');
REM INSERTING into EA.FIELD_ALLOW_DEGREE
SET DEFINE OFF;
Insert into EA.FIELD_ALLOW_DEGREE (FIELD_ID,DISCIPLINE_ID) values (1998030301,199801);
Insert into EA.FIELD_ALLOW_DEGREE (FIELD_ID,DISCIPLINE_ID) values (1998030302,199801);
Insert into EA.FIELD_ALLOW_DEGREE (FIELD_ID,DISCIPLINE_ID) values (1998030401,199801);
REM INSERTING into EA.FIELD_CLASS
SET DEFINE OFF;
Insert into EA.FIELD_CLASS (ID,DISCIPLINE_ID,CODE,NAME) values (19980101,199801,'0101','哲学类');
Insert into EA.FIELD_CLASS (ID,DISCIPLINE_ID,CODE,NAME) values (19980201,199802,'0201','经济学类');
Insert into EA.FIELD_CLASS (ID,DISCIPLINE_ID,CODE,NAME) values (19980301,199803,'0301','法学类');
REM INSERTING into EA.TERM
SET DEFINE OFF;
Insert into EA.TERM (ID,START_DATE,START_WEEK,MID_RIGHT,END_WEEK,MAX_WEEK,MID_LEFT) values (20021,to_date('2002-10-07','RRRR-MM-DD'),1,null,16,19,null);
Insert into EA.TERM (ID,START_DATE,START_WEEK,MID_RIGHT,END_WEEK,MAX_WEEK,MID_LEFT) values (20022,to_date('2003-02-17','RRRR-MM-DD'),1,null,20,28,null);
Insert into EA.TERM (ID,START_DATE,START_WEEK,MID_RIGHT,END_WEEK,MAX_WEEK,MID_LEFT) values (20031,to_date('2003-09-01','RRRR-MM-DD'),1,null,20,24,null);
--------------------------------------------------------
--  DDL for Index SYS_C0018108
--------------------------------------------------------

  CREATE UNIQUE INDEX "EA"."SYS_C0018108" ON "EA"."CURR_COURSE_CLASS_ID" ("COURSE_CLASS_ID", "ORIGINAL_ID") 
  ;
--------------------------------------------------------
--  DDL for Index SYS_C0018067
--------------------------------------------------------

  CREATE UNIQUE INDEX "EA"."SYS_C0018067" ON "EA"."DISCIPLINE" ("ID") 
  ;
--------------------------------------------------------
--  DDL for Index SYS_C0018070
--------------------------------------------------------

  CREATE UNIQUE INDEX "EA"."SYS_C0018070" ON "EA"."FIELD" ("ID") 
  ;
--------------------------------------------------------
--  DDL for Index SYS_C0018068
--------------------------------------------------------

  CREATE UNIQUE INDEX "EA"."SYS_C0018068" ON "EA"."FIELD_CLASS" ("ID") 
  ;
--------------------------------------------------------
--  DDL for Index SYS_C0018166
--------------------------------------------------------

  CREATE UNIQUE INDEX "EA"."SYS_C0018166" ON "EA"."TERM" ("ID") 
  ;
--------------------------------------------------------
--  Constraints for Table CURR_COURSE_CLASS_ID
--------------------------------------------------------

  ALTER TABLE "EA"."CURR_COURSE_CLASS_ID" ADD PRIMARY KEY ("COURSE_CLASS_ID", "ORIGINAL_ID")
  USING INDEX  ENABLE;
--------------------------------------------------------
--  Constraints for Table DISCIPLINE
--------------------------------------------------------

  ALTER TABLE "EA"."DISCIPLINE" ADD PRIMARY KEY ("ID")
  USING INDEX  ENABLE;
--------------------------------------------------------
--  Constraints for Table FIELD
--------------------------------------------------------

  ALTER TABLE "EA"."FIELD" ADD PRIMARY KEY ("ID")
  USING INDEX  ENABLE;
--------------------------------------------------------
--  Constraints for Table FIELD_CLASS
--------------------------------------------------------

  ALTER TABLE "EA"."FIELD_CLASS" ADD PRIMARY KEY ("ID")
  USING INDEX  ENABLE;
--------------------------------------------------------
--  Constraints for Table TERM
--------------------------------------------------------

  ALTER TABLE "EA"."TERM" ADD PRIMARY KEY ("ID")
  USING INDEX  ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table FIELD
--------------------------------------------------------

  ALTER TABLE "EA"."FIELD" ADD FOREIGN KEY ("FIELD_CLASS_ID")
	  REFERENCES "EA"."FIELD_CLASS" ("ID") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table FIELD_ALLOW_DEGREE
--------------------------------------------------------

  ALTER TABLE "EA"."FIELD_ALLOW_DEGREE" ADD FOREIGN KEY ("FIELD_ID")
	  REFERENCES "EA"."FIELD" ("ID") ENABLE;
  ALTER TABLE "EA"."FIELD_ALLOW_DEGREE" ADD FOREIGN KEY ("DISCIPLINE_ID")
	  REFERENCES "EA"."DISCIPLINE" ("ID") ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table FIELD_CLASS
--------------------------------------------------------

  ALTER TABLE "EA"."FIELD_CLASS" ADD FOREIGN KEY ("DISCIPLINE_ID")
	  REFERENCES "EA"."DISCIPLINE" ("ID") ENABLE;
